<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,204},{90,24}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,62},{90,24}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,542},{104,18}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,66},{104,18}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{150,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{150,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{150,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,63},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,84},{104,26}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{104,26}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,274},{104,24}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{104,24}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,422},{118,20}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,66},{118,20}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,382},{56,24}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,62},{56,24}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,542},{60,18}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,66},{60,18}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,182},{72,20}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,66},{72,20}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,104},{106,26}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,60},{106,26}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,48},{150,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,57},{150,34}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,478},{106,34}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,57},{106,34}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,122},{148,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,62},{148,24}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,380},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,508},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{48,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,346},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,198},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,320},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,476},{38,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{38,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,432},{38,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,436},{38,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{38,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,198},{42,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{42,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,432},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{44,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,524},{28,24}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{28,24}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,480},{42,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{42,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>3_6light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,440},{48,38}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{48,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>3_6light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,154},{38,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,18},{38,20}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>3_6light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,380},{14,12}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,14},{14,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,514},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{46,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,508},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{52,28}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,112},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,320},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,382},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{48,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,250},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{48,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>6light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,372},{58,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{58,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>6light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{114,108}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{114,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,422},{138,26}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,62},{138,26}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,204},{96,26}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,62},{96,26}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{148,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,53},{148,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,432},{104,44}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,53},{104,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,122},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,50},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,204},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,41},{68,68}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{126,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dc_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,516},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>dz_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,370},{60,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,37},{60,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>gn_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,516},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{40,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>gn_bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,132},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gyp_bullte.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,300},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{44,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>jx_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,260},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>jx_bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,440},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{36,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>lr_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,144},{64,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>lr_bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,514},{64,46}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{64,46}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>lr_bullet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,84},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>nj_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,296},{70,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{70,26}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>nj_bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,208},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sj_bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,406},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{54,28}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>sj_bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,478},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{54,28}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>sj_bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,290},{72,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,112},{62,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{62,17}}</string>
                <key>sourceSize</key>
                <string>{76,29}</string>
            </dict>
            <key>tsc_bullte.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,422},{118,22}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,64},{118,22}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tsc_bullte2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,204},{84,22}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,65},{84,22}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tsc_bullte3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,422},{118,22}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,63},{118,22}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tsc_bullte4.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,518},{84,22}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,64},{84,22}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>tsc_bullte5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{146,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,41},{146,66}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>xhy_bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,78},{120,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,63},{120,24}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>xhy_bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,274},{140,50}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,51},{140,50}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>xhy_bullet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,290},{78,24}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,63},{78,24}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>xy_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,208},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>xy_bullet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,132},{80,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>zgl_bullet_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,422},{94,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{94,69}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>zgl_bullet_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,351},{94,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{94,69}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>zgl_bullet_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,280},{94,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{94,69}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>zgl_bullet_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,112},{94,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{94,69}}</string>
                <key>sourceSize</key>
                <string>{100,75}</string>
            </dict>
            <key>zhangbao_bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,274},{96,32}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,55},{96,32}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>zhangbao_bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,302},{78,32}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,55},{78,32}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>zhangbao_bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{134,74}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,34},{134,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>zxc_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{138,26}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,62},{138,26}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>zxc_bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,478},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{52,28}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_bullet.png</string>
            <key>size</key>
            <string>{562,562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cbf98c9671c61d20661188d56382d58$</string>
            <key>textureFileName</key>
            <string>tower_bullet.png</string>
        </dict>
    </dict>
</plist>
