<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemybullet_10_b_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1800},{130,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{130,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>enemybullet_10_b_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1703},{130,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{130,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>enemybullet_10_b_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1668},{130,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{130,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>enemybullet_10_b_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1571},{130,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{130,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>enemybullet_10_b_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1536},{130,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{130,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>enemybullet_10_b_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1439},{130,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{130,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>enemybullet_10_b_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1404},{130,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{130,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>enemybullet_10_b_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1307},{130,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{130,130}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>enemybullet_10_c_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,149},{133,145}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,116},{133,145}}</string>
                <key>sourceSize</key>
                <string>{185,285}</string>
            </dict>
            <key>enemybullet_10_c_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1144},{143,165}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,96},{143,165}}</string>
                <key>sourceSize</key>
                <string>{185,285}</string>
            </dict>
            <key>enemybullet_10_c_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{147,213}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,48},{147,213}}</string>
                <key>sourceSize</key>
                <string>{185,285}</string>
            </dict>
            <key>enemybullet_10_c_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1289},{131,113}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,147},{131,113}}</string>
                <key>sourceSize</key>
                <string>{185,285}</string>
            </dict>
            <key>enemybullet_10_c_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{133,145}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,116},{133,145}}</string>
                <key>sourceSize</key>
                <string>{185,285}</string>
            </dict>
            <key>enemybullet_10_c_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1144},{143,165}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,96},{143,165}}</string>
                <key>sourceSize</key>
                <string>{185,285}</string>
            </dict>
            <key>enemybullet_10_c_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{147,213}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,48},{147,213}}</string>
                <key>sourceSize</key>
                <string>{185,285}</string>
            </dict>
            <key>enemybullet_10_c_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1192},{131,113}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,147},{131,113}}</string>
                <key>sourceSize</key>
                <string>{185,285}</string>
            </dict>
            <key>enemybullet_10_f_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1928},{91,125}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{91,125}}</string>
                <key>sourceSize</key>
                <string>{93,143}</string>
            </dict>
            <key>enemybullet_10_f_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1835},{91,125}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{91,125}}</string>
                <key>sourceSize</key>
                <string>{93,143}</string>
            </dict>
            <key>enemybullet_10_f_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1886},{91,125}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{91,125}}</string>
                <key>sourceSize</key>
                <string>{93,143}</string>
            </dict>
            <key>enemybullet_10_f_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1793},{91,125}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{91,125}}</string>
                <key>sourceSize</key>
                <string>{93,143}</string>
            </dict>
            <key>enemybullet_10_f_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1700},{91,125}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{91,125}}</string>
                <key>sourceSize</key>
                <string>{93,143}</string>
            </dict>
            <key>enemybullet_10_f_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1607},{91,125}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{91,125}}</string>
                <key>sourceSize</key>
                <string>{93,143}</string>
            </dict>
            <key>enemybullet_10_f_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1514},{91,125}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{91,125}}</string>
                <key>sourceSize</key>
                <string>{93,143}</string>
            </dict>
            <key>enemybullet_10_f_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1421},{91,125}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{91,125}}</string>
                <key>sourceSize</key>
                <string>{93,143}</string>
            </dict>
            <key>enemybullet_10_hit_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1932},{104,78}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,56},{104,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>enemybullet_10_hit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{186,166}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{186,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>enemybullet_10_hit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,486},{170,172}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{170,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>enemybullet_10_hit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,296},{188,174}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{188,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>enemybullet_10_hit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,658},{188,180}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{188,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>enemybullet_10_hit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1020},{176,170}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{176,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>enemybullet_10_hit_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{180,176}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{180,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>enemybullet_10_hit_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,994},{180,148}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{180,148}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>enemybullet_10_hit_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,840},{186,152}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,33},{186,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>enemybullet_10_hit_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{192,158}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{192,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>enemybullet_10_hit_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,212}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,38},{248,212}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>enemybullet_10_hit_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1289},{130,112}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,51},{130,112}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero6_tower_skill_hit.png</string>
            <key>size</key>
            <string>{393,2021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:383d94ae7af27d88d6f1ba652fb36ad4$</string>
            <key>textureFileName</key>
            <string>hero6_tower_skill_hit.png</string>
        </dict>
    </dict>
</plist>
